<div class="questions-page">
    <p-growl [value]="Msgs" id="growl"></p-growl>

    <div class="tatooarticle text">
        <p class="margin2 heading">{{Maintitle}}</p>
        <p class="text plaintext margin2"> {{Description_part1}} <a routerLink="/help">{{Insert}}</a> {{Description_part2}} </p>
    </div>

    <div class='panel panel-primary tatoodiv' style="margin-top:2%">
        <div class='panel-heading' id="tatoopanel">
            {{Subtitle}}
        </div>

        <div class='panel-body'>
            <div class='row'>
                <label class='col-md-2 tatoolable'>{{Points[0]}}</label>
                <select type="number" class='tatooinput marginbottom' [(ngModel)]="Num">
                    <option [ngValue]="0">{{Themes[0]}}</option>
                    <option [ngValue]="1">{{Themes[1]}}</option>
                    <option [ngValue]="2">{{Themes[2]}}</option>
                    <option [ngValue]="3">{{Themes[3]}}</option>
                    <option [ngValue]="4">{{Themes[4]}}</option>
                </select>
            </div>
            <div class='row'>
                <label class='col-md-2 tatoolable'>{{Points[1]}}</label>
                <textarea type='text' class='tatooinput marginbottom' [ngClass]="{'tatooinputerror': ThemeOK==false}" placeholder="{{Point2_placeholder}}" [(ngModel)]='Theme'></textarea>
                <label *ngIf="ThemeOK" class='tatootool' style="margin-left: 39%">{{ToolTheme}}</label>
                <label *ngIf="!ThemeOK" class='tatootoolerror' style="margin-left: 39%">{{ToolErrorTheme}}</label>
            </div>
            <div class='row'>
                <label class='col-md-2 tatoolable'>{{Points[2]}}</label>
                <textarea rows="5" type='text' class='tatooinput marginbottom' [ngClass]="{'tatooinputerror': MessageOK==false}" placeholder="{{Point3_placeholder}}" [(ngModel)]='Message'></textarea>
                <label *ngIf="MessageOK" class='tatootool' style="margin-left: 39%">{{ToolMessage}}</label>
                <label *ngIf="!MessageOK" class='tatootoolerror' style="margin-left: 39%">{{ToolErrorMessage}}</label>
            </div>

            <button class=' btn btn-primary tatoobutton' (click)='SendQuestion()'>
                <i class='glyphicon glyphicon-envelope'></i> {{ButtonName}} 
            </button>
        </div>
    </div>

    <br>
    <div class='panel panel-primary tatoodiv' style="width:98%">
        <div class='tatoopanel panel-heading ' id="tatoopanel">
            {{TableName}}
        </div>
        <div class='panel-body'>

            <div class='table-responsive'>
                <table class='table tatootable'
                       *ngIf='Questions && Questions.length'>
                    <thead>
                        <tr>
                            <th class="smallColumn">{{NumName}}</th>
                            <th class="smallColumn">{{CategoryName}}</th>
                            <th class="smallColumn">{{ThemeName}}</th>
                            <th class="bigColumn">{{QuestionName}}</th>
                            <th class="bigColumn">{{AnswerName}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let question of Questions; let i=index' [ngClass]="{'backerror': question.answer=='', 'backgood': question.answer!=''}">
                            <td class="smallColumn">{{i+1}}</td>
                            <td class="smallColumn">{{ question.category }}</td>
                            <td class="smallColumn">{{ question.theme}}</td>
                            <td class="bigColumn">{{ question.questionName}}</td>
                            <td class="bigColumn" [ngClass]="{'tatooerror': question.answer=='', 'tatoogood': question.answer!=''}">{{ Answer(question)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>