<div class="panel-body text whitetext margin1" > 
    <div class="row">
        <p class="tatooback"> {{PageTitle}} </p>
    </div>
</div>
    
<div class="tatooarticle text">
    <div class="row">
        <p class="arcticleheading margin2"> {{ArticleTitle}} </p>
        <p class="arcticletext margin2"> {{ArticleText}} <a [routerLink]="['/aboutus']"> here</a>.</p>
    </div>
</div> 
   
<div class="circles">
    <img src="../assets/images/Home/1st.jpg" alt="example of work #1" class="examplesofwork">
    <img src="../assets/images/Home/2nd.jpg" alt="example of work #2" class="examplesofwork">
    <img src="../assets/images/Home/3rd.jpg" alt="example of work #3" class="examplesofwork">
</div>

 <div class="tatooarticle text">
    <div class="row">
        <p class="arcticleheading margin2"> {{StartwithTitle}} </p>
        <p class="arcticletext margin2"> {{StartwithText[0]}} <a [routerLink]="['/aboutus']"> {{Here}} </a>. </p>
        <p class="arcticletext margin2"> {{StartwithText[1]}} <a [routerLink]="['/scretches']"> {{ThisPage}} </a>. {{StartwithText[2]}} <a [routerLink]="['/products']"> {{Shop}}</a>.</p>   
        <p class="arcticletext margin2"> {{StartwithText[3]}} <a [routerLink]="['/contacts']"> {{Here}} </a>. </p>
        <p class="arcticletext margin2"> {{StartwithText[4]}} <a [routerLink]="['/help']"> {{FAQ}} </a>{{StartwithText[5]}} <a [routerLink]="['/questions']"> {{Questions}}</a>.</p>
    </div>

</div> 

