<div class="tatooarticle text">
    <p class="margin2 heading"> {{ArticleTitle}} </p>
    <p class="text plaintext margin2"> {{ArticleText}} </p>
</div> 

<br />

<div class="tatooarticle text plaintext">
    <p class="margin2 paragraphhead">{{EmailLabel}}
        <label class="paragraphtext"> {{Email}}</label>
    </p>
    <p class="margin2 paragraphhead">
        {{PhoneLabel}}
        <label class="paragraphtext"> {{Phone}}</label>
    </p>
    <p class="margin2 paragraphhead">
        {{InstagramLabel}}
        <a title="Click to switch to our instagram page" href="https://www.instagram.com/martha_bocharova/" class="paragraphtext"> {{Instagram}}</a>
    </p>
    <p class="margin2 paragraphhead">
        {{TwitterLabel}}
        <a title="Click to switch to our twitter page" href="https://twitter.com/tatooroze" class="paragraphtext"> {{Twitter}}</a>
    </p>
    <p class="margin2 paragraphhead">
        {{VkLabel}}
        <a title="Click to switch to our vkontakte page" href="https://vk.com/id20028415" class="paragraphtext"> {{Vk}}</a>
    </p>
</div>

<br />

<agm-map [zoom]="15" [latitude]="Lat" [longitude]="Lng">
    <agm-marker [latitude]="Lat" [longitude]="Lng"></agm-marker>
</agm-map>
