  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 45%;
      margin: auto;
  }
  </style>

<p-growl [value]="Msgs" id="growl"></p-growl>

<div class="scretches-page">
    <div class="tatooarticle text plaintext">
        <p class="margin2 heading"> {{ArticleTitle}} </p>
        <p class="text plaintext margin2"> {{ArticleText}} </p>
    </div>

    <div class='has-error' *ngIf='ErrorMessage'>{{ErrorMessage}}</div>

    <div class="container" style="margin:0%; width:100%; padding:0%">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div *ngFor="let Scretch of Scretches" class="item" [ngClass]="{active: isActive(Scretch.imageUrl)}" style="width:100%; margin:0%">
                    <a pageScroll href="#form"> <img title="Click to choose this scretch" class="scretch" src={{Scretch.imageUrl}} alt={{Scretch.scretchName}} (click)='ChoosingScretch()'> </a>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" (click)='Left()'>
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" (click)='Right()'>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <br />

    <div class="descriptionback textfordescription plaintext">
        <p class="margin2 paragraphheaddescription">
            {{ScretchNameLabel}}
            <label *ngIf='!IsFirst' class="paragraphdescription">{{ScretchName}}</label>
            <label *ngIf='IsFirst' class="paragraphdescription"> {{Scretches !== undefined ? Scretches[0].scretchName : undefined}} </label>
        <p class="margin2 paragraphheaddescription">
            {{ScretchDescriptionLabel}}
            <label *ngIf='!IsFirst' class="paragraphdescription">{{ScretchDescription}}</label>
            <label *ngIf='IsFirst' class="paragraphdescription">{{Scretches !== undefined ? Scretches[0].description : undefined}}</label>
        </p>
        <p class="margin2 paragraphheaddescription">
            {{ScretchPriceLabel}}
            <label *ngIf='!IsFirst' class="paragraphdescription">{{ScretchPrice | currency:'USD':true:'1.2-2'}}</label>
            <label *ngIf='IsFirst' class="paragraphdescription">${{Scretches !== undefined ? Scretches[0].price : undefined }}.00</label>
        </p>
        <p class="margin2 paragraphheaddescription">
            {{ScretchSizeLabel}}
            <label *ngIf='!IsFirst' class="paragraphdescription">{{ScretchWidth}}cm x {{ScretchHeight}}cm</label>
            <label *ngIf='IsFirst' class="paragraphdescription">{{Scretches !== undefined ? Scretches[0].width : undefined }}cm x {{Scretches !== undefined ? Scretches[0].height : undefined }}cm</label>
        </p>
    </div>

    <div id="form" class='panel panel-primary tatoodiv' style="margin-top:2%">
        <div class='panel-heading' id="tatoopanel">
            {{PanelHeading}}
        </div>
        <div class='panel-body'>
            <div class="ui-g lowborder" style="width:100%; margin-bottom:10px">
                <div class="ui-g-12"><p-radioButton name="typeOfPicture" value="Scretch from gallery" label={{Scretch}} [(ngModel)]="Option"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="typeOfPicture" value="Your own picture" label={{Picture}} [(ngModel)]="Option"></p-radioButton></div>
            </div>
            <div *ngIf="Option=='Scretch from gallery'" class="lowborder">
                <div class='row'>
                    <label class='col-md-2 tatoolable'>{{LabelChoose}}</label>
                    <select class='tatooinput marginbottom' [(ngModel)]="SelectedName" (change)="OnSelectionChange()" >
                        <option value="" selected disabled>Select scretch name</option>
                        <option *ngFor="let Scretch of Scretches" [value]="Scretch.scretchName">{{Scretch.scretchName}}</option>
                    </select>
                </div>
                <div *ngIf="SelectedName && Option=='Scretch from gallery'" class="formtext">
                    <p>
                        <label>
                            {{ScretchNameLabel}}
                        </label>
                        {{SelectedName}}
                    <p>
                        <label>
                            {{ScretchDescriptionLabel}}
                        </label>
                        {{SelectedNameDescription}}
                    </p>
                    <p>
                        <label>
                            {{ScretchPriceLabel}}
                        </label>
                        {{ScretchNamePrice | currency:'USD':true:'1.2-2'}}
                    </p>
                    <p>
                        <label>
                            {{ScretchSizeLabel}}
                        </label>
                        {{ScretchNameWidth}}cm x {{ScretchNameHeight}}cm
                    </p>
                </div>
            </div>
            <div *ngIf="Option=='Your own picture'" class="lowborder">
                <div class='row'>
                    <div class='row' style="width: 100%">
                        <label class='col-md-2 tatoolable' style="margin-left: 3%">{{AddUrl}}</label>
                        <input type='text' class='tatooinput marginbottom' [ngClass]="{'tatooinputerror': UrlOk==false}" placeholder="{{PlaceHolderUrl}}" [(ngModel)]='Url' />
                        <label *ngIf="UrlOk" class='tatootool' style="margin-left: 42%">{{ToolUrl}}</label>
                        <label *ngIf="!UrlOk" class='tatootoolerror' style="margin-left: 42%">{{ToolErrorUrl}}</label>
                    </div>
                </div>
                <div class='row'>
                    <label class='col-md-2 tatoolable margleft'>{{AddDescription}}</label>
                    <textarea rows="3" type='text' class='tatooinput marginbottom' [ngClass]="{'tatooinputerror': DescriptionOk==false}" placeholder="{{PlaceHolderDescription}}" [(ngModel)]='Description'></textarea>
                    <label *ngIf="DescriptionOk" class='tatootool marginer'>{{ToolDescription}}</label>
                    <label *ngIf="!DescriptionOk" class='tatootoolerror marginer'>{{ToolErrorDescription}}</label>
                </div>
                <div class='row' style="width: 100%">
                    <label class='col-md-2 tatoolable margleft'>{{WidthName}}</label>
                    <button title={{TitleDecreaseWidth}} class="btn btn-default tatoobuttonval" (click)="DecreaseWidth()" style="margin-right: 1%; margin-left:2%">
                        <i class='glyphicon glyphicon-chevron-left'></i>
                    </button>
                    <input type='range' min="1" max="1000" step="1" value="1" class='tatooinputval marginbottom' [(ngModel)]='Width' />
                    <button title={{TitleIncreaseWidth}} class="btn btn-default tatoobuttonval" (click)="IncreaseWidth()" style="margin-left: 1%">
                        <i class='glyphicon glyphicon-chevron-right'></i>
                    </button>
                    <label class='tatootool' style="margin-left: 42%">{{WidthName}}{{Width}}</label>
                </div>                
                <div class='row' style="width: 100%">
                    <label class='col-md-2 tatoolable margleft'>{{HeightName}}</label>
                    <button title={{TitleDecreaseHeight}} class="btn btn-default tatoobuttonval" (click)="DecreaseHeight()" style="margin-right: 1%; margin-left:2%">
                        <i class='glyphicon glyphicon-chevron-left'></i>
                    </button>
                    <input type='range' min="1" max="1000" step="1" value="1" class='tatooinputval marginbottom' [(ngModel)]='Height' />
                    <button title={{TitleIncreaseHeight}} class="btn btn-default tatoobuttonval" (click)="IncreaseHeight()" style="margin-left: 1%">
                        <i class='glyphicon glyphicon-chevron-right'></i>
                    </button>
                    <label class='tatootool' style="margin-left: 42%">{{HeightName}}{{Height}}</label>
                </div>
                <div class='row' style="margin-bottom: 1%">
                    <div class='row' style="width: 100%">
                        <label class='col-md-2 tatoolable' style="margin-left: 3%">{{PriceName}}</label>
                        <span class='col-md-2 tatoolable' style="padding: 0%; margin-left: 0.5%">{{Height * Width| currency:'USD':true:'1.2-2'}}</span>
                    </div>
                </div>     
            </div>
            <div *ngIf="Option=='Your own picture' || Option=='Scretch from gallery'" class="ui-g lowborder flexer" style="width:100%; margin-bottom:10px; padding:2%">
                <p-calendar [(ngModel)]="value" margin="1%" [inline]="true" [minDate]="minimumDate" [defaultDate]="minimumDate" (onSelect)="SelectingNewDate()"></p-calendar>
            </div>
                <button class='btn btn-primary tatoobutton' style="float: right; margin-top: 1%" (click)="SendScretch()" title={{TitleSend}}> 
                    <i class='glyphicon glyphicon-envelope'></i> {{ButtonName}}                    
                </button>
            </div>
        <div class='panel-footer' id="tatoopanel">
            {{Choosed}} <span *ngIf="!Option">nothing</span>
            <ul *ngIf="Option">
                <li>{{Option}}</li>
                <li *ngIf="SelectedName==undefined && Option=='Scretch from gallery'"> {{ScretchNameLabel}} {{NotChoosed}}</li>
                <li *ngIf="SelectedName && Option=='Scretch from gallery'"> {{ScretchNameLabel}} {{SelectedName}}</li>
                <li *ngIf="Url=='' && Option=='Your own picture'"> {{ScretchUrlLabel}} {{NotEntered}}</li>
                <li *ngIf="Url!='' && Option=='Your own picture'"> {{ScretchUrlLabel}} {{Url}}</li>
                <li *ngIf="Option=='Your own picture'"> {{TatooSize}} {{Width}} x {{Height}}</li>
                <li *ngIf="Option=='Scretch from gallery' || Option=='Your own picture'"> {{DateOfAppointment}} {{DateToShow}}</li>
            </ul>
        </div>
    </div>
</div>