/*styles*/
.tatoobutton {
    background-color: #000000;
    border-color: #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}

.tatoobutton:hover {
    background-color: #464451;
    border-color: #D5D5D5;
    color: #FFFFFF;
    text-decoration: none;
}