    
    <div class="tatooarticle text">
            <p class="margin2 heading"> {{ArticleTitle}} </p>
            <p class="text plaintext margin2"> {{ArticleText}} </p>
    </div>
    
    <div class="circles">
        <img src="../assets/images/AboutUs/1st.jpg" alt="example of work #1" class="examplesofwork">
        <img src="../assets/images/AboutUs/2nd.jpg" alt="example of work #2" class="examplesofwork">
        <img src="../assets/images/AboutUs/3rd.jpg" alt="example of work #3" class="examplesofwork">
    </div>

    <div class="backerformaster text plaintext">
     <div class="circles">
        <div class="tatooarticle center">
            <p class="heading"> {{FirstMaster}} </p>
            <div>
                <label class="textheading"> {{Age}} </label>
                <label> {{FAgeValue}} </label>
            </div>
            <div>
                <label class="textheading"> {{Experience}} </label>
                <label> {{FExperienceValue}} </label>
            </div>
            <div>
                <label class="textheading"> {{Education}} </label>
                <label> {{FEducationValue}} </label>
            </div>
            <div>
                <label class="textheading"> {{SphereOfDrawings}} </label>
                <label> {{FSphereOfDrawingsValue}} </label>
            </div>
        </div>
        <img src="../assets/images/AboutUs/Martha.jpg" class="rect" alt="Martha's photo">
     </div>  
    
     <div class="horizontal"> 
        <img src="../assets/images/AboutUs/M1.jpg" alt="Mrtha's example pf work #1'" class="example">
        <div class="tatooarticle">
            <label class="text"> {{FDescription[0]}} </label>
        </div>
     </div>

      <div class="horizontal"> 
        <img src="../assets/images/AboutUs/M2.jpg" alt="Mrtha's example pf work #2'" class="example">
        <div class="tatooarticle">
            <label class="text"> {{FDescription[1]}} </label>
        </div>
     </div>

      <div class="horizontal"> 
        <img src="../assets/images/AboutUs/M3.jpg" alt="Mrtha's example pf work #3'" class="example">
        <div class="tatooarticle">
            <label class="text"> {{FDescription[2]}} </label>
        </div>
     </div>

      <div class="horizontal"> 
        <img src="../assets/images/AboutUs/M4.jpg" alt="Mrtha's example pf work #4'" class="example">
        <div class="tatooarticle">
            <label class="text"> {{FDescription[3]}} </label>
        </div>
     </div>
    </div>

    <div class="backerformaster text plaintext">
     <div class="circles">
        <div class="tatooarticle center">
            <p class="heading"> {{SecondMaster}} </p>
            <div>
                <label class="textheading"> {{Age}} </label>
                <label> {{FAgeValue}} </label>
            </div>
            <div>
                <label class="textheading"> {{Experience}} </label>
                <label> {{FExperienceValue}} </label>
            </div>
            <div>
                <label class="textheading"> {{Education}} </label>
                <label> {{FEducationValue}} </label>
            </div>
            <div>
                <label class="textheading"> {{SphereOfDrawings}} </label>
                <label> {{FSphereOfDrawingsValue}} </label>
            </div>
        </div>
        <img src="../assets/images/AboutUs/Asya.jpg" alt="Asya's photo" class="rect">
     </div>  
    
     <div class="horizontal"> 
        <img src="../assets/images/AboutUs/A1.jpg" alt="Asya's example pf work #1"  class="example">
        <div class="tatooarticle">
            <label class="text"> {{SDescription[0]}} </label>
        </div>
     </div>

      <div class="horizontal"> 
        <img src="../assets/images/AboutUs/A2.jpg" alt="Asya's example pf work #2" class="example">
        <div class="tatooarticle">
            <label class="text"> {{SDescription[1]}} </label>
        </div>
     </div>

      <div class="horizontal"> 
        <img src="../assets/images/AboutUs/A3.jpg" alt="Asya's example pf work #3" class="example">
        <div class="tatooarticle">
            <label class="text"> {{SDescription[2]}} </label>
        </div>
     </div>

      <div class="horizontal"> 
        <img src="../assets/images/AboutUs/A4.jpg" alt="Asya's example pf work #4" class="example">
        <div class="tatooarticle">
            <label class="text"> {{SDescription[3]}} </label>
        </div>
     </div>
</div>