.questions_page {
    
    /*text styles*/
    .text {
        font-family: 'TEMPUS SANS ITC';
        font-weight: bold;
        color: rgba(41, 43, 41, 0.7);
    }

    .heading {
        font-size: 7vmin;
        color: rgba(41, 43, 41, 0.9);
    }

    .paragraphhead {
        color: rgba(41, 43, 41, 0.9);
    }

    /*styles*/
    .tatooarticle {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        font-size: 4vmin;

        ol {
            li {
                font-size: 4vmin;
            }
        }
    }

    .margin2 {
        margin-left: 3%;
        margin-right: 3%;
    }

    /*links*/
    a {
        color: rgba(41, 43, 41, 0.9);
        text-decoration: underline;
    }

    a:hover {
        color: rgba(41, 43, 41, 0.5);
        text-decoration: underline;
    }
}