<div class="tatooarticle text">
    <p class="margin2 heading">{{Maintitle}}</p>
    <p class="text plaintext margin2"> {{Subtitle}} </p>
</div>

<br />

<div class="tatooarticle text plaintext">
    <p class="margin2 paragraphhead">
        {{FirstnameLabel}}
        <label class="paragraphtext"> {{FirstName}}</label>
    </p>
    <p class="margin2 paragraphhead">
        {{LastnameLabel}}
        <label class="paragraphtext"> {{LastName}}</label>
    </p>
    <p class="margin2 paragraphhead">
        {{EmailLabel}}
        <label class="paragraphtext"> {{Email}}</label>
    </p>
</div>